.dob{
    margin-right: 290px;
}
.dropdown{
    height: 20px;
    width: 100px;
    
}
.monthdrop{
    height: 20px;
    width: 100px;
    margin-bottom: 190px;
    position: static;
    margin-right: 10px;
    
    
}
.saal{
    margin-top: 0px;
    width: 70px;
    height: 21px;
}
.gender{
    margin-right: 320px;
    

}
.fb{
    color: rgba(0, 81, 255, 0.8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.irritating{
    margin-right: 40px;
}
.saal{
    width: 90px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;

}
h6{
    font-family:Arial, Helvetica, sans-serif;
}
/* .whole{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 450px;
    border: solid;
    height: 500px; */

   

   
   